# Ignore node_modules folder
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables (if applicable)
.env

# Ignore Vercel output (if deploying with Vercel)
.vercel

# Ignore MacOS system files
.DS_Store

# Ignore any other system files
Thumbs.db